mixin nav(className)
  nav(class=className + '__nav')
    ul(class=className + '__nav-list')
      - const items = [
      -  {href: '/ion', label: 'ION'},
      -  {href: '/company', label: 'О компании'},
      -  {href: '/map', label: 'Карта'},
      -  {href: '/news', label: 'Новости'},
      -  {href: '/catalog', label: 'Каталог'},
      -  //{href: '#', label: 'Сертификаты'},
      -  {href: '/areas', label: 'Применение'},
      - ];
      each item in items
        li(class=className + '__nav-item')
          a(class=className + '__nav-item-link' href=item.href) #{item.label}