mixin nav(className)
  nav(class=className + '__nav')
    ul(class=className + '__nav-list')
      - const items = [
      -  {href: '/ion', label: 'ION'},
      -  {href: '#', label: 'О нас'},
      -  {href: '#', label: 'Карта'},
      -  {href: '#', label: 'Новости'},
      -  {href: '#', label: 'Компания'},
      -  {href: '/catalog', label: 'Продукция'},
      -  {href: '#', label: 'Сертификаты'},
      - ];
      each item in items
        li(class=className + '__nav-item')
          a(class=className + '__nav-item-link' href=item.href) #{item.label}